@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SmallBoldPixel";
  src: url("../public/SmallBoldPixel.ttf") format("truetype");
  /* Adicione outros formatos de fonte se necessário */
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Para navegadores que suportam scrollbar-width (Firefox) */
body {
  scrollbar-width: none;
}

/* Remover scrollbars do body, mas permitir rolagem */
body {
  overflow: -moz-scrollbars-none; /* Para navegadores Mozilla */
  -ms-overflow-style: none; /* Para navegadores Internet Explorer e Edge */
}
/* CSS */
.card {
  transition: transform 1.5s ease-in-out; /* Definindo uma transição padrão para todos os cards */
}

.card.loaded {
  animation: slideIn 1.5s forwards; /* Aplicando a animação slideIn quando o card estiver carregado */
}

/* Definindo a animação de zoom com deslizamento para cima */
.slide-in-top {
  animation: zoomInSlideUp 0.8s ease;
}
.slide-in-topD {
  animation: SlideUp 0.8s ease;
}
.slide-in-downD {
  animation: SlideDown 0.8s ease;
}
.slide-in-leftD {
  animation: Slideleft 0.8s ease;
}
.slide-in-rightD {
  animation: SlideRight 0.8s ease;
}

/* Definindo a animação de zoom com deslizamento para baixo */
.slide-in-bottom {
  animation: zoomInSlideDown 0.8s ease;
}

/* Definindo a animação de zoom com deslizamento para a esquerda */
.slide-in-left {
  animation: zoomInSlideLeft 0.8s ease;
}

/* Definindo a animação de zoom com deslizamento para a direita */
.slide-in-right {
  animation: zoomInSlideRight 0.8s ease;
}

/* Definindo a animação de zoom */
@keyframes zoomIn {
  from {
    transform: scale(1.5); /* Aplicando um zoom inicial */
  }
  to {
    transform: scale(1); /* Zoom para o tamanho real */
  }
}

/* Definindo a animação de zoom com deslizamento para cima */
@keyframes zoomInSlideUp {
  from {
    transform: translateY(-150px) scale(1.5); /* Deslocamento para cima com zoom */
  }
  to {
    transform: translateY(0) scale(1); /* Retornando à posição inicial */
  }
}
@keyframes SlideUp {
  from {
    transform: translateY(-150px); /* Deslocamento para cima com zoom */
  }
  to {
    transform: translateY(0); /* Retornando à posição inicial */
  }
}
@keyframes SlideDown {
  from {
    transform: translateY(150px); /* Deslocamento para cima com zoom */
  }
  to {
    transform: translateY(0); /* Retornando à posição inicial */
  }
}
@keyframes Slideleft {
  from {
    transform: translateX(-150px); /* Deslocamento para cima com zoom */
  }
  to {
    transform: translateX(0); /* Retornando à posição inicial */
  }
}
@keyframes SlideRight {
  from {
    transform: translateX(150px); /* Deslocamento para cima com zoom */
  }
  to {
    transform: translateX(0); /* Retornando à posição inicial */
  }
}
/* Definindo a animação de zoom com deslizamento para baixo */
@keyframes zoomInSlideDown {
  from {
    transform: translateY(150px) scale(1.5); /* Deslocamento para baixo com zoom */
  }
  to {
    transform: translateY(0) scale(1); /* Retornando à posição inicial */
  }
}

/* Definindo a animação de zoom com deslizamento para a esquerda */
@keyframes zoomInSlideLeft {
  from {
    transform: translateX(-150px) scale(1.5); /* Deslocamento para a esquerda com zoom */
  }
  to {
    transform: translateX(0) scale(1); /* Retornando à posição inicial */
  }
}

/* Definindo a animação de zoom com deslizamento para a direita */
@keyframes zoomInSlideRight {
  from {
    transform: translateX(150px) scale(1.5); /* Deslocamento para a direita com zoom */
  }
  to {
    transform: translateX(0) scale(1); /* Retornando à posição inicial */
  }
}

/* Definindo a animação fade-in com deslizamento para a direita */
@keyframes fadeInSlideRight {
  from {
    transform: translateX(150px) rotate(-0deg); /* Deslocamento para a direita com rotação */
  }
  to {
    transform: translateX(0) rotate(0); /* Retornando à posição inicial */
  }
}
