@media screen and (max-width: 768px) {
  .card {
    width: 97vw;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 53vh;
  }
  .center-item-horizontal {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .center-item-horizontal-z20 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 20;
  }
  .logo-bg {
    width: 80vw; /* Defina a largura do seu cartão */
    height: 20vh;
    overflow: hidden;
    margin-top: -1px;
  }
  .logo {
    width: 35vw; /* Defina a largura do seu cartão */
    height: 20vh;
    overflow: hidden;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 21;
  }
  .corner {
    width: 25vw;
    height: auto;
    overflow: hidden;
    margin-bottom: -4px;
    margin-left: 0px;
  }
  .cartao {
    height: 53vh;
    position: relative;
  }

  .corner-position {
    position: absolute;
    z-index: 20;
    bottom: 0px;
    left: 0;
  }
}
